*.tmp
build
src/ontology/mirror
src/ontology/mirror/*
src/ontology/efo.obo
src/ontology/efo_full.obo
src/ontology/efo.owl
src/ontology/efo_inferred.owl
src/ontology/efo_inferred_all.owl
src/ontology/efo-obo.tmp.owl
src/ontology/reports/*.csv
semantic.cache
.DS_Store
.idea
*~
deprecated_modules
src/ontology/components/efo_terms.txt
src/ontology/efo_no_uberon.owl
src/ontology/imports/mondo_import.owl
src/ontology/uberon_terms.txt
src/ontology/imports/OTAR_terms.txt
src/ontology/imports/mondo_remove.owl
src/ontology/log.txt
src/ontology/imports/mondo_efo_import.owl
src/ontology/diff.txt
src/ontology/qc/diff_efo-*.txt
src/ontology/qc/efo_no_*.owl
src/ontology/components/mondo_efo_import.owl
src/ontology/components/efo_foreign_preserve_terms.txt
src/ontology/efo-edit-copy.owl
src/ontology/cp-efo-edit.owl
src/ontology/efo-edit-diff.txt
src/ontology/efo-edit-fixed.owl
src/ontology/imports/hancestro_terms.txt
src/ontology/imports/uberon_bot.owl
src/ontology/migration2019/efo-edit-fixed.owl
efo.json
efo.obo
efo.owl
