*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/efo.obo
src/ontology/efo_full.obo
src/ontology/efo.owl
src/ontology/efo_inferred.owl
src/ontology/efo_inferred_all.owl
src/ontology/efo-obo.tmp.owl
src/ontology/reports/*.csv
semantic.cache
.DS_Store
.idea
*~
deprecated_modules
